* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.country {
  padding: 10px;
  list-style-type: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 12px;
}
.li-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.title {
  width: 300px;
  text-align: center;
}
.main-input {
  font-size: 25px;
  width: 350px;
  height: 60px;
  margin-top: 30px;
  margin-left: 50px;
  /* margin-left: auto;
  margin-right: auto; */
  border: 2px solid aquamarine;
  outline: none;
}
